<% if @marker %>
    var div_markers = document.getElementById("marker");
    div_markers.innerHTML += `
        <div>
            <%= @marker.url %>
        </div>
    `;
<% elsif @category %>
    var div_categories = document.getElementById("category");
    div_categories.innerHTML += `
        <div>
            <%= @category.name %>
        </div>
    `;
<% elsif @marker_category %>
    var marker_category = document.getElementById("marker_category");
    marker_category.innerHTML += `
        <div>
            url: <%= @marker_category.marker.url %>
        </div>
        <div>
            categoria: <%= @marker_category.category.name %>
        </div>
        <div>
            tipo: <%= @marker_category.type_relation %>
        </div>
        <div>
            <%= link_to 'borrar', m_d_path(@marker_category.id), method: :delete, data: {confirm: 'seguro que lo quieres borrar?'} %>
            <%= link_to 'editar', m_s_path(@marker_category.id)%>
        </div>
        <br>
        <br>
    `

<% end %>