<div style="display:flex; justify-content: space-around">
    <div>
        <%= form_with(url: m_c_path, model: @marker, remote: true, data: {confirm: 'seguro que esta bien escito?'}) do |m| %>
            <%= m.text_field :url, placeholder: 'ingrese la url' %>
            <%= m.submit 'guardar pagina' %>
        <% end %>
    </div>
    <div>
        <%= form_with(url: m_c_path, model: @category, remote:true) do |c| %>
            <%= c.text_field :name, placeholder: 'nombre de la categoria' %>
            <%= c.submit 'crear categoria' %>
        <% end %>
    </div>
</div>

<div style="display:flex; justify-content: space-around">
    <div id="marker">
        <% @markers.each do |marker| %>
            <div>
                <%= marker.url %>
            </div>
        <% end %>
    </div>
    <div id="category">
        <% @categories.each do |category| %>
            <div>
                <%= category.name%>
            </div>
        <% end %>
    </div>
</div>

<div>
    <%= form_with(url: m_c_path, model:@marker_category, remote: true) do |mc| %>
        <%= mc.select :marker_id, options_from_collection_for_select(@markers, :id, :url)%>
        <%= mc.select :category_id, options_from_collection_for_select(@categories, :id, :name)%>
        <%= mc.text_field :type_relation, placeholder: 'tipo de la pagina' %>
        <%= mc.submit 'relacionar' %>
    <% end %>
</div>

<div id="marker_category">
    <% @marker_categories.each do |markcategory| %>
        <div>
            url: <%= markcategory.marker.url %>
        </div>
        <div>
            categoria: <%= markcategory.category.name %>
        </div>
        <div>
            tipo: <%= markcategory.type_relation %>
        </div>
        <br>
        <br>
    <% end %>
</div>